*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.outer{
    padding: .5rem;
    background-color: black;
    height: 100vh;
}

.header{
    width: 100%;
    height: 3rem;
    background-color: black;
    display: flex;
    align-items: center;
    margin-bottom: .7rem;
    position: sticky;
    top: 0;
    color: white;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.header .div1 #logo{
    font-size: 2.3rem;
}
.header .div2temp .home{
    height: 2.8rem;
    width: 2.8rem;
    background-color: rgb(50,50,50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .div2temp #home{
    font-size: 1.3rem;
    
}
.header .div2temp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.header .div2{
    display: flex;
    background-color: rgb(59, 58, 58);
    height: 2.8rem;
    align-items: center;
    border-radius: 2rem;
    width: 26rem;
    padding: 0 1rem;
    margin-left: .5rem;
}
.header .div2 i{
    font-size: 1.5rem;
}
.header .div2 #iconleft{
    margin-right: .8rem;
}
.header .div2 .iconrightdiv{
    /* background-color: red; */
    height: 2.5rem;
    align-items: center;
    display: flex;
    width: 4rem;
    justify-content: flex-end;
    border-left: 1px solid rgba(255,255,255,.2);
}
.header input{
    all: unset;
    width: 15rem;
    margin-right: 4.3rem;
}
.header i{
    font-size: 1rem;
}

.header .div3{
    display: flex;
    align-items: center;
    position: fixed;
    right: 1rem;
    height: 3rem;
}
.header .div31{
    display: flex;
    align-items: center;
    height: 3rem;
    width: 25rem;
    margin: 0 .5rem;
}
.header .div31 button{
    margin-right: .5rem;
}
.header .div3 div{
    margin-right: 1rem;
}
button{
    border: none;
    height: 2.3rem;
    border-radius: 2rem;
    width: 10.3rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button:hover{
    transform:scale(1.06)
}
.header .div3 #installbtn{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .div32 i{
    margin-right: .5rem;
}
.header .div3 #installbtn i{
    margin-right: .4rem;
}




.sidebar{
    height: 100vh;
    width: 17.8rem;
    background-color: rgb(20, 20, 20);
    border-radius: .5rem;
    padding: 1rem;
}

.sidebar .divout{
    height: 1rem;
    width: 1rem;
    border: 1.8px solid rgba(255,255,255,.8);
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.sidebar .divout i{
    font-size: .5rem;
    margin-left: .1rem;
}
.sidebar .divin{
    height: 1rem;
    width: .3rem;
    border-right: 1.8px solid rgba(255,255,255,.8);
}

.sidhead{
    background-color: rgb(20,20,20);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.sideheadleft{
    display: flex;

}
.sideheadleft .divout{
    margin-right: .4rem;
}
.sideheadright{
    display: flex;
    justify-content: space-around;
    width: 5rem;
}


.sidbardiv{
    height: 8.3rem;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: .5rem;
    line-height: 1.5rem;
    padding:1rem 1.1rem;
    margin-bottom: 1rem;
}
.sidbardiv .sidbartopspan{
    font-weight: 800;
}
.sidbardiv .sidbarmidspan{
    margin-bottom: 2rem;
}
#sidbarbaner{
    overflow: auto;
    width: 100%;
    height: 100vh;
}
#sidbarbaner::-webkit-scrollbar{
    background-color: black;
}
#sidbarbaner::-webkit-scrollbar-runnable-track{
    background-color: rgb(20,20,20);
}
#sidbarbaner::-webkit-scrollbar-thumb{
    background-color: rgb(92, 91, 91);
}


.main{
    display: flex;
}
 .maincontant{
    margin: 0 1rem;
    flex: 1;
    background-color: rgb(20,20,20);
    border-radius: .8rem;
    height: 100vh;
    overflow: auto;
 } 


.maincontant{
    padding: 1rem 2.1rem;
}
.maincontant .box{
    height: 18.2rem;
    width: 11.2rem;
    padding: .6rem .8rem;
    overflow: hidden;
    border-radius: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    flex-shrink: 0; 
}
.maincontant .overflowx{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.box .name,
.box p {
  white-space: normal;
  /* overflow: hidden; */
  word-break: break-word;
}

.maincontant .box img{
    height: 12rem;
    width: 11rem;
    border-radius: .5rem;
}
.maincontant .box p{
    color: white;
    opacity: .8;
}
.maincontant .box .name{
    font-weight: 600;
    color: white;
}
.maincontant .bigplaybtn{
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    background-color: rgb(32, 150, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9.5rem;
    left: 8.6rem;
    opacity: 0;
    transition: .4s ease-in;
}
.maincontant .box:hover .bigplaybtn{
    opacity: 1;
}
.maincontant .box:hover{
    background-color: rgb(34,33,33);
}
.maincontant .outerbox{
    margin-bottom: 3rem;
}


.maincontant .outerbox a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.38rem;
}
.maincontant .boxuptext{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    margin-bottom: 1rem;
}
.maincontant .boxuptext .Show{
    font-size: .8rem;
    opacity: .8;
}
.maincontant .outerbox a:hover{
    text-decoration: underline;
}
.maincontant .extradiv{
    height: 17rem;
    width: 100%;
}

.contactdiv{
    color: white;
    display: flex;
    height: 16rem;
}
.contactdiv div{
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}
.contactdiv a{
    opacity: .7;
    cursor: pointer;
    margin-bottom: .3rem;
}
.contactdiv a:hover{
    opacity: 1;
    text-decoration: underline;
}
.contactdiv .head{
    font-weight: 600;
    margin-bottom: .4rem;
}
.contactdiv .div5{
    position: relative;
    margin-right: 0 ;
    right: 0;
}
.upperlinediv , .downlinediv{
    border-top: .5px solid white;
    width: 97%;
    height: 5px;
    opacity: 0.2;
    margin-top:2rem;
    margin-bottom: 2rem;
}
.upperlinediv{
    margin-bottom: 5rem;
}
.copyrightdiv{
    display: flex;
    justify-content: space-between;
    color: white;
}
.copyrightdiv div{
    display: flex;
}
.contactdiv .div5{
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
}
.contactdiv .div5 div{
    background-color: rgb(40, 38, 38);
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactdiv .div5 div:hover{
    background-color: rgb(94, 94, 94);
}
.copyrightdiv div a{
    margin-right: .5rem;
    text-decoration: none;
    cursor: pointer;
    opacity: .7;
}
.copyrightdiv div a:hover{
    opacity: 1;
}


.footer{
    display: flex;
    height: 5.4rem;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
}

.footerleft , .footerright{
    width: 25rem;
    /* background-color: red; */
    height: 100%;
}

.footermid{
    width: 38rem;
    /* background-color: blueviolet; */
    height: 100%;
}
.footerleft{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding-right: 6rem;
}
.footerleft .div1{
    margin: 0 .4rem;
}
/* .footerleft .div3{
    margin-right: .2rem;
} */
.footerleft .name{
    font-weight: 600;
}
.footerleft .singer{
    opacity: .8;
}
.footerleft .div1 img{
    height: 4rem;
    width: 4rem;
    border-radius: 5px;
}
.footerleft .div3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    border: 2px solid white;
}

.footermidtop img{
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 1.2rem;
}
.footermidtop #play{
    height: 2.3rem;
    width: 2.3rem;
}
.footermidtop #play:hover{
    transform: scale(1.1);
}
.footermidtop{
    align-self: center;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    height: 3rem;
}
.footermid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.footermidbotom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footermidbotom .prograce-bar{
    margin: 0 .6rem;
    width: 70%;
    appearance: none;
    cursor: pointer;
}
.prograce-bar::-webkit-slider-runnable-track{
    border-radius: 1rem;
    height: .2rem;
}
.prograce-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -4px;
    /* z-index: 8; */
    background-color: green;
}
.footerright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footerright div{
    margin-right: .5rem;
}
.footerright i{
    opacity: .7;
    font-size: 1rem;
    cursor: pointer;
}
.footerright i:hover{
    opacity: 1;
}
.footerright .fdiv1:hover{
    opacity: 1;
}
.footerright .fdiv1{
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .7rem;
    width: .7rem;
    border: .8px solid white;
    border-right-width: 2px;
    border-left-width: 2px;
}
.footerright .fdiv1 i{
    font-size: .4rem;
}

